root = true

[*]
end_of_line = lf
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[Makefile]
indent_style = tab

[*.{ipynb,py,toml}]
indent_size = 4

[*.rst_t]
indent_size = 3

[setup.cfg]
indent_size = 4
